%section#contact.contact.bg-primary
  .container
    %h2
      We
      %i.fa.fa-heart
      new friends!
    %ul.list-inline.list-social
      %li.social-twitter
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li.social-facebook
        %a{:href => "#"}
          %i.fa.fa-facebook
      %li.social-google-plus
        %a{:href => "#"}
          %i.fa.fa-google-plus
