%section.cta
  .cta-content
    .container
      %h2
        Stop waiting.
        %br>/
        Start building.
      %a.btn.btn-outline.btn-xl.page-scroll{:href => "#contact"} Let's Get Started!
  .overlay
