%section#download.download.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Discover what all the buzz is about!
        %p Our app is available on any mobile device! Download now to get started!
        .badges
          %a.badge-link{:href => "#"}
            %img{:alt => "", :src => image_url("google-play-badge.svg")}/
          %a.badge-link{:href => "#"}
            %img{:alt => "", :src => image_url("app-store-badge.svg")}/