%section#features.features
  .container
    .row
      .col-lg-12.text-center
        .section-heading
          %h2 Unlimited Features, Unlimited Fun
          %p.text-muted Check out what you can do with this app theme!
          %hr/
    .row
      .col-md-4
        .device-container
          .device-mockup.iphone6_plus.portrait.white
            .device
              .screen
                / Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                %img.img-responsive{:alt => "", :src => image_url("demo-screen-1.jpg")}/
              .button
                / You can hook the "home button" to some JavaScript events or just remove it
      .col-md-8
        .container-fluid
          .row
            .col-md-6
              .feature-item
                %i.icon-screen-smartphone.text-primary
                %h3 Device Mockups
                %p.text-muted Ready to use HTML/CSS device mockups, no Photoshop required!
            .col-md-6
              .feature-item
                %i.icon-camera.text-primary
                %h3 Flexible Use
                %p.text-muted Put an image, video, animation, or anything else in the screen!
          .row
            .col-md-6
              .feature-item
                %i.icon-present.text-primary
                %h3 Free to Use
                %p.text-muted As always, this theme is free to download and use for any purpose!
            .col-md-6
              .feature-item
                %i.icon-lock-open.text-primary
                %h3 Open Source
                %p.text-muted Since this theme is MIT licensed, you can use it commercially!
