%footer
  .container
    %p © 2017 KidCentiv. All Rights Reserved.
    -#%ul.list-inline
    -#  %li
    -#    %a{:href => "#"} Privacy
    -#  %li
    -#    %a{:href => "#"} Terms
    -#  %li
    -#    %a{:href => "#"} FAQ
