%header
  .container
    .row
      .col-sm-7
        .header-content
          .header-content-inner
            %h1 We're here to help
            %a.btn.btn-outline.btn-xl.page-scroll{:href => "#contact"} Sign up to learn more!
      .col-sm-5
        .device-container
          .device-mockup.iphone6_plus.portrait.white
            .device
              .screen
                / Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                %img.img-responsive{:alt => "", :src => image_url("demo-screen-1.jpg")}/
              .button
                / You can hook the "home button" to some JavaScript events or just remove it