%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        Menu
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "#page-top"} KidCentiv
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.page-scroll{:href => "#about"} About
        %li
          %a.page-scroll{:href => "#features"} Features
        %li
          %a.page-scroll{:href => "#contact"} Contact
    / /.navbar-collapse
  / /.container-fluid
